<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootdatabase.dao.MemberDao">
    <select id="getMember" resultType="com.springbootdatabase.model.MemberModel">
        select * from t1
    </select>

    <insert id="setMember" parameterType="com.springbootdatabase.model.MemberModel">
        INSERT INTO t1 VALUES(#{id}, #{name}, #{nickname}, #{position})
    </insert>

    <delete id="deleteMember" parameterType="com.springbootdatabase.model.MemberModel">
        DELETE FROM t1 WHERE id = #{id} AND name = #{name}
    </delete>

    <update id="updateMember" parameterType="com.springbootdatabase.model.MemberModel">
        UPDATE t1 SET name= #{name},nickname= #{nickname},position=#{position} WHERE id = #{id}
    </update>
</mapper>